@{
    ViewBag.Title = "Wall";
}

    <fb:login-button scope="public_profile,email"
                     onlogin="checkLoginState();">
    </fb:login-button>

    <a id="twitter-button" onclick="signin()" class="btn btn-block btn-social btn-twitter">
        <i class="fa fa-twitter"></i> Twitter Sign in
    </a>

    

<div class="container-fluid">
    <div class="row">
        <h3 style="text-align:center">Social media aggregator</h3>
    </div>
    <div class="row">
        <div class="col">
            <div class="leftside">
                <div class="row">
                    <h3>Facebook</h3>
                    <input id="btnnn" type="button" value="Get posts" />
                </div>
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Profile</button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Feed</button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Likes</button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4">Page Posts</button>
                </p>
                <div class="row">
                    <div class="row">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">

                            <input id="prefSet" type="button" value="Set preferences" />
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="prefEmail">
                                <label class="form-check-label" for="prefEmail">Email</label>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="prefBirthday">
                                <label class="form-check-label" for="prefBirthday">Birthday</label>
                            </div>

                            <div class="card card-body">
                                <h5 class="card-title" id="profileName"></h5>
                                <p class="card-text" id="profileEmail"></p>
                                <p class="card-text" id="profileBirthday"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="collapse multi-collapse" id="multiCollapseExample2">
                            <div class="card card-body" id="feed">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="collapse multi-collapse" id="multiCollapseExample3">
                            <div class="card card-body" id="likes">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="collapse multi-collapse" id="multiCollapseExample4">
                            <div class="card card-body" id="page">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="rightside">
                <div class="row">
                    <h3>Twitter</h3>
                    <input id="getTwitter" onclick="getHomeTweets()" type="button" value="Get Tweets" />

                    <div id="Tweets">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





