@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1 class="display-4">Social Media Aggregator</h1>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <p class="lead">Sign in to get started. </p>
                <a class="btn btn-primary btn-lg" href="@Url.Action("Login", "User")" role="button">Login</a>
            </div>
            <div class="col">
                <p class="lead">Not regestered yet? Sign up below!</p>
                <a class="btn btn-primary btn-lg" href="@Url.Action("Register", "User")" role="button">Register</a>
            </div>
        </div> 
    </div>

